.images-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
}
button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    
    
}
.button_style2 {
    background-color: #ff8080;
    transition: background-color 0.3s ease;
}

.button_style2:hover {
    background-color: #ff6666;
}
button:hover {
    background-color: #2980b9;
}
.image-to-show {
    width: 400px;
    height: 400px;
}
.image-to-show:not(:first-child) {
    display: none;
}